@media screen and (max-width : 600px) {
    .nav{
        display: none;
    }
    header{
        display: inline;
        width: 100%;
    }
    .logo img{
        width: 70px;
        height: 50px;
        float: right;
        margin-top: 20px;
    }
    #sign-in{
        display: none;
    }
    .test label 
    {
        width: 30px;
        margin: 0 auto;
        font-size: 40px;
        cursor: pointer;
        float: left;
        margin-top: 5px;
    }
    .test {
        position: relative;
        display: inline-block;
      }
    .test-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    .test:hover .test-content {
        display: flex;
        padding: 10px;
        min-height: 200px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
      .search{
        font-size: 80%;
      }
      h1{
        width: 80%;
        font-size: x-large;
      }
      .search-box{
         width: 80%;
         font-size: 16px;
         height: 40px;
      }
      .search-box select{
        font-size: x-small;
      }
      .search-box bottom{
        font-size: 18px;
      }
      .clubs{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 15px;
        width: 80%;
      }
      .footer-social{
        width: 40px;
        height: 40px;
      }
      footer{
        justify-content: space-between;
      }
      .About{
        flex-direction: column-reverse;
      }
      .About-head{
        margin-bottom: 10px;
      }
      .slideshow-container {
        max-width: 80%;
      }
      .container{
        width: 80%;
      }
      #example{
        font-size: 12px;
      }
      #example th , tr{
        width: 10px;
      }
      .span{
        font-size: 12px;
        padding: 2px 8px;
      }
}